@"
build/
bin/
out/
*.exe
*.lib
*.obj
*.pdb
*.dll
*.log
.vs/
.tmp/
.ultra/
.ultra_daemon/
idea/
tests/
Testing/
test-cpp/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.cache/
"@ | Set-Content -Path ".gitignore" -Encoding UTF8
.aider*
